body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  font-size: 18px;
  color: white;
}

.header,
.subhead {
  background-image: url("../images/backgroundimage.png");
}

h4 {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.features,
p {
  font-size: 11px;
}

.features,
h3 {
  font-size: 23px;
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

.process,
p {
  font-size: 14px;
}
