body {
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  font-size: 18px;
  color: white;
}

nav {
  background-image: url("resources/images/backgroundimage.png");
}
